{:paths ["src" "resources"]
 :deps {clj-python/libpython-clj {:mvn/version "2.024"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:run-m {:main-opts ["-m" "clojure.clojure"]}
  :run-x {:ns-default clojure.clojure
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  ; https://github.com/clj-python/libpython-clj/blob/6e7368b44aaabddf565a5bbf3a240e60bf3dcbf8/deps.edn#L10-L12
  :jdk-17 {:jvm-opts ["--add-modules" "jdk.incubator.foreign"
                      "--enable-native-access=ALL-UNNAMED"]}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
